* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
  }
  body {
    background: linear-gradient(-45deg, #612f5e, #026c96, #be377b, #0e3052);
    background-size: 400% 400%;
    height: 100vh;
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  